footer {
    background-color: rgba(60, 179, 114, 0);
    max-width: 1024px;
    height: 40px;
    bottom: 0;
    display: block;
    position: sticky;
    position: -webkit- sticky;
    margin: auto;
}

main {
    background-color: rgb(6, 37, 37);
    max-width: 1024px;
    height: auto;
    margin: auto;
}

header {
    background-color: rgb(151, 106, 223);
    max-width: 1024px;
    height: 40px;
    margin: auto;
    display: block;
    position: sticky;
    position: -webkit- sticky;
    top: 0px;
    margin-top: 0px;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: palegoldenrod 3px 3px;
}

footer a {
    float: left;
}

.n {
    float: left;
    width: 25%;
    height: 40px;
    text-align: center;
}

.p {
    width: 100%;
    height: 100%;
    background-color: rgb(233, 215, 50);
}

.n :hover {
    background-color: magenta;
    translate: 3s;
    transform: scale(1);
}

.o {
    background-color: palegoldenrod;
    width: 44%;
    height: 400px;
    float: left;
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
    min-width: 160px;
}

body {
    background-color: rgb(6, 37, 37);
}